pytest
canvasapi
gensim
textrazor

# To install Textract
# Ubuntu:
#   apt-get install python-dev libxml2-dev libxslt1-dev antiword unrtf poppler-utils pstotext tesseract-ocr flac ffmpeg lame libmad0 libsox-fmt-mp3 sox libjpeg-dev swig
# Mac:
#   brew cask install xquartz
#   brew install poppler antiword unrtf tesseract swig
# more at: https://textract.readthedocs.io/en/stable/installation.html
# for issues in installing in Ubuntu, check https://github.com/deanmalmgren/textract/issues/209
textract

jsonpickle
bottle
